name: build
on:
  push:
    branches:
      - main
jobs:
  build-with-maven-push-2-ghcr:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Build a container image from our Spring Boot app using Paketo.io / Cloud Native Build Packs
        run: mvn spring-boot:build-image -DskipTests -Dgitlab.pat=$CR_PAT
        env:
          CR_PAT: ${{ secrets.CR_PAT }}
